@charset "UTF-8";
.visually-hidden {
  position: absolute;
  white-space: nowrap;
  width: 1px;
  height: 1px;
  overflow: hidden;
  border: 0;
  padding: 0;
  clip: rect(0 0 0 0);
  clip-path: inset(50%);
  margin: -1px;
}

html {
  box-sizing: border-box;
}

*,
*::before *::after {
  box-sizing: inherit;
}

* {
  text-decoration: none;
  list-style: none;
}

h1,
h2,
h3,
h4,
p,
ul {
  margin: 0;
  padding: 0;
}

ul,
ol {
  margin-top: 0;
  margin-bottom: 0;
  padding-left: 0;
}

/* Основные шрифт, цвет шр ифта и др. */
body {
  background-color: #ffffff;
  color: #212121;
  font-family: Roboto, sans-serif;
  font-weight: 500;
  letter-spacing: 0.03em;
}

/* Полезное правило для удаления атрибутов в списке */
/* 
.list {
list-style: none;
} */
/* Корисна вставка:  */
img {
  display: block;
  max-width: 100%;
}

.section {
  padding-top: 94px;
  padding-bottom: 94px;
}

.container {
  width: 100%;
  padding: 0 15px;
  margin: 0 auto;
}

.clients-line {
  padding-top: 60px;
  padding-bottom: 60px;
}

.clients {
  display: block;
  max-width: 480px;
  width: 100%;
}
@media screen and (min-width: 768px) {
  .clients {
    max-width: 1190px;
    width: 100%;
    text-align: center;
  }
}

.clients__title {
  text-align: center;
  margin-bottom: 30px;
  color: #212121;
  font-weight: 700;
  font-size: 28px;
  line-height: 1.1786;
}

.clients__logo {
  display: flex;
  padding: 16px 16px;
  background-position: center;
  background-size: contain;
  fill: #afb1b8;
  transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.clients__logo:hover, .clients__logo:focus {
  fill: #2196f3;
}

.clients__link {
  display: flex;
  max-width: 210px;
  max-height: 92px;
  border: 1px solid #afb1b8;
  border-radius: 4px;
  transition: border 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.clients__link:hover, .clients__link:focus {
  border: 1px solid #2196f3;
}

.clients__list {
  display: flex;
  flex-wrap: wrap;
  width: 100%;
  justify-content: center;
  gap: 30px;
  margin: 0;
}

.clients__item {
  display: flex;
  width: 100%;
  min-width: 210px;
  max-width: 210px;
}
@media screen and (min-width: 768px) {
  .clients__item {
    display: flex;
    flex-wrap: wrap;
    max-width: calc((100% - 90px) / 3);
    width: 100%;
  }
}

.hero {
  padding-top: 0;
  max-height: 400px;
  max-width: 480px;
  width: 100%;
  height: 100%;
  text-align: center;
  background-color: #2f303a;
  margin: 0 auto;
}
@media screen and (max-width: 767px) {
  .hero {
    max-width: 480px;
    min-width: 480px;
  }
}
@media screen and (min-width: 768px) {
  .hero {
    max-width: 768px;
    min-width: 768px;
  }
}

.hero__container {
  display: block;
  align-items: center;
  width: 100%;
}
@media screen and (max-width: 767px) {
  .hero__container {
    width: 480px;
  }
}
@media screen and (min-width: 768px) {
  .hero__container {
    width: 768px;
    margin-bottom: 60px;
  }
}

.hero--overlay {
  margin: 0 auto;
  max-width: 100%;
  height: auto;
  background-color: #c4c4c4;
  background-image: linear-gradient(to right, rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)), url("../images/img14.jpg");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}

.hero__text {
  display: flex;
  justify-content: center;
  padding-top: 118px;
  margin: 0 auto 30px;
  width: 100%;
  max-width: 360px;
  text-align: center;
  justify-content: center;
  color: #ffffff;
  font-weight: 900;
  font-size: 26px;
  line-height: 1.615;
  text-transform: uppercase;
  letter-spacing: 0.06em;
}

.button {
  display: inline-block;
  margin-bottom: 118px;
  width: 200px;
  height: 50px;
  border-radius: 4px;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  background-color: #2196f3;
  color: #ffffff;
  font-family: Roboto;
  font-weight: 700;
  font-size: 16px;
  line-height: 1.875;
  letter-spacing: 0.06em;
  cursor: pointer;
  border: none;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.button:hover, .button:focus {
  background-color: #188ce8;
}

.rules {
  padding-top: 0;
  padding-bottom: 60px;
  padding-top: 60px;
  margin: 0 auto;
  /* width: 1600px; */
}

.rules__list {
  display: block;
  gap: 30px;
  width: 100%;
  text-align: center;
  padding-top: 0;
  padding-left: 15px;
}
@media screen and (max-width: 767px) {
  .rules__list {
    max-width: 480px;
  }
}
@media screen and (min-width: 768px) {
  .rules__list {
    display: flex;
    flex-wrap: wrap;
    padding-left: 0;
    padding-top: 0;
    gap: 0;
  }
}

.rules__item {
  display: block;
  text-align: center;
  padding-bottom: 0;
  width: 100%;
}
.rules__item:not(:last-child) {
  margin-bottom: 30px;
}
@media screen and (max-width: 767px) {
  .rules__item:not(:last-child) {
    max-width: 450px;
  }
}
@media screen and (min-width: 768px) {
  .rules__item {
    width: calc((100% - 60px) / 2);
    margin: 15px;
  }
}

.rules__equipment {
  width: 100%;
  max-height: 120px;
  background-position: center;
  background-color: #f5f4fa;
  background-size: contain;
  margin-bottom: 30px;
  margin-bottom: 30px;
}
.rules__equipment:not(:last-child) {
  margin-bottom: 30px;
}
@media screen and (max-width: 767px) {
  .rules__equipment:not(:last-child) {
    display: block;
    padding: 25px 190px 25px;
    max-width: 450px;
  }
}
@media screen and (min-width: 768px) {
  .rules__equipment {
    display: block;
    padding: 25px 142px 25px;
    max-width: 450px;
  }
}

.rules__title {
  text-align: center;
  margin-bottom: 10px;
  color: #212121;
  font-weight: 700;
  font-size: 14px;
  line-height: 1.17;
  text-transform: uppercase;
}
@media screen and (min-width: 768px) {
  .rules__title {
    text-align: left;
  }
}

.rules__text {
  text-align: left;
  color: #757575;
  font-weight: 400;
  font-size: 14px;
  line-height: 1.71;
}

.fields {
  padding-top: 0;
  margin: 0 auto;
  text-align: center;
}

.fields__title {
  margin-bottom: 50px;
  color: #212121;
  font-weight: 700;
  font-size: 36px;
  line-height: 1.17;
  text-align: center;
}

.fields__container {
  display: block;
  text-align: center;
  max-width: 450px;
  width: 100%;
  align-items: center;
}

.fields__item {
  display: block;
  margin: 0 auto;
  text-align: center;
}
.fields__item:not(:last-child) {
  margin-right: 30px;
}

.fields__thumb {
  position: relative;
}

.fields__desk {
  display: flex;
  position: absolute;
  bottom: 0;
  left: 0;
  width: 370px;
  height: 70px;
  align-items: center;
  justify-content: center;
  background-color: rgba(47, 48, 58, 0.8);
  color: #ffffff;
  font-weight: 700;
  font-size: 14px;
  line-height: 1.17;
  text-transform: uppercase;
}

.team {
  padding-top: 60px;
  padding-bottom: 60px;
  margin: 0 auto;
  text-align: center;
  background-color: #f5f4fa;
}

.team__title {
  margin-bottom: 30px;
  color: #212121;
  font-weight: 700;
  font-size: 36px;
  line-height: 1.17;
  text-align: center;
}

.team__list {
  display: block;
  width: 100%;
  max-width: 450px;
  align-items: center;
  padding: 0 auto;
}
@media (min-width: 768px) {
  .team__list {
    display: flex;
    flex-wrap: wrap;
    max-width: 1199px;
    width: 100%;
    gap: 30px;
  }
}

.team__item {
  display: block;
  text-align: center;
  margin: 0 auto;
  max-width: 450px;
  width: 100%;
  border-radius: 0px 0px 4px 4px;
  background-color: #ffffff;
  box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 2px 1px rgba(0, 0, 0, 0.2);
}
@media screen and (min-width: 320px) and (max-width: 767px) {
  .team__item {
    text-align: center;
  }
}
.team__item:not(:last-child) {
  margin-bottom: 30px;
}
@media screen and (max-width: 767px) {
  .team__item:not(:last-child) {
    max-width: 450px;
  }
}
@media screen and (min-width: 768px) {
  .team__item {
    display: flex;
    flex-wrap: wrap;
    max-width: calc((100% - 60px) / 2);
    width: 100%;
  }
}

.team-portreit {
  display: block;
  text-align: center;
  max-width: 450;
  width: 100%;
  max-height: 460px;
  height: 100%;
}
@media (min-width: 768px) {
  .team-portreit {
    display: flex;
    flex-wrap: wrap;
    margin-bottom: 30px;
  }
}

.team__name {
  padding-top: 30px;
  margin-bottom: 10px;
  color: #212121;
  font-size: 16px;
  line-height: 1.17;
  text-align: center;
}
@media screen and (min-width: 768px) {
  .team__name {
    padding-top: 0;
    max-width: 1190px;
    width: 100%;
    text-align: center;
  }
}

.team__text {
  margin-bottom: 16px;
  color: #757575;
  font-weight: 400;
  font-size: 16px;
  line-height: 1.17;
  text-align: center;
}
@media screen and (min-width: 768px) {
  .team__text {
    max-width: 1190px;
    width: 100%;
    text-align: center;
  }
}

.team__social {
  display: flex;
  align-items: center;
  justify-content: center;
  padding-bottom: 24px;
  gap: 10px;
}
@media screen and (min-width: 768px) {
  .team__social {
    max-width: 1190px;
    width: 100%;
    text-align: center;
  }
}

.team__soc {
  fill: #afb1b8;
  transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.team__link {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 44px;
  height: 44px;
  background-color: #ffffff;
  border-radius: 50%;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.team__link:hover, .team__link:focus {
  background-color: #2196f3;
}
.team__link:hover .team__soc, .team__link:focus .team__soc {
  fill: #ffffff;
}

.portfolio {
  display: block;
  text-align: center;
  padding-top: 60px;
  padding-bottom: 60px;
  min-width: 480px;
  max-width: 480px;
}
@media screen and (max-width: 767px) {
  .portfolio {
    max-width: 767px;
    margin: 0 auto;
  }
}
@media screen and (min-width: 768px) {
  .portfolio {
    display: flex;
    flex-wrap: wrap;
    padding-top: 0px;
    max-width: 1199px;
    margin: 0 auto;
  }
}
@media screen and (min-width: 1200px) {
  .portfolio {
    display: flex;
    flex-wrap: wrap;
    padding-top: 0px;
    max-width: 1400px;
    margin: 0 auto;
  }
}

.portfolio__list {
  display: flex;
  flex-wrap: wrap;
  width: 100%;
  max-width: 370px;
  margin-bottom: 30px;
  padding-top: 0;
  row-gap: 15px;
  column-gap: 8px;
}
@media screen and (min-width: 768px) {
  .portfolio__list {
    display: flex;
    flex-wrap: wrap;
    padding-top: 60px;
    align-items: center;
    justify-content: center;
    max-width: 768px;
    margin: 0 auto 30px;
  }
}

.portfolio__item {
  color: #212121;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.63;
  letter-spacing: 0.03em;
  cursor: pointer;
  border-radius: 4px;
  border: none;
}
.portfolio__item:not(:last-child) {
  margin-right: 8px;
  background-color: #f5f4fa;
}

.portfolio__btn {
  padding: 6px 22px;
  background-color: #f5f4fa;
  color: #212121;
  font-family: Roboto;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.63;
  letter-spacing: 0.03em;
  box-shadow: 0px 3px 1px rgba(0, 0, 0, 0.1), 0px 1px 2px rgba(0, 0, 0, 0.08), 0px 2px 2px rgba(0, 0, 0, 0.12);
  border-radius: 4px;
  border: none;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1), color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.portfolio__btn:hover, .portfolio__btn:focus {
  background-color: #188ce8;
  color: #ffffff;
}

.port {
  display: block;
  text-align: center;
  width: 100%;
  max-width: 480px;
  min-width: 480px;
}
@media screen and (min-width: 320px) and (max-width: 767px) {
  .port {
    display: flex;
    max-width: 767px;
    width: 100%;
  }
}
@media screen and (min-width: 768px) {
  .port {
    display: flex;
    max-width: 1199px;
    width: 100%;
  }
}
@media screen and (min-width: 1200px) {
  .port {
    display: flex;
    max-width: 1400px;
    width: 100%;
  }
}

.port__container {
  display: flex;
  /* width: 1200px; */
  flex-wrap: wrap;
  /* padding-top: 50px; */
  margin: 0 auto;
}
@media screen and (min-width: 768px) {
  .port__container {
    display: flex;
    flex-wrap: wrap;
    gap: 30px;
    max-width: 1199px;
    width: 100%;
  }
}
@media screen and (min-width: 1200px) {
  .port__container {
    display: flex;
    flex-wrap: wrap;
    gap: 30px;
    max-width: 1400px;
    width: 100%;
  }
}

.port__item {
  max-width: 450px;
  width: 100%;
  text-align: left;
  box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0);
  transition: box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.port__item:not(:last-child) {
  margin-bottom: 30px;
}
.port__item:hover, .port__item:focus {
  box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);
  box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.12), 0px 4px 4px rgba(0, 0, 0, 0.06), 1px 4px 6px rgba(0, 0, 0, 0.16);
}
.port__item:hover .port__movement, .port__item:focus .port__movement {
  transform: translateY(0);
}
@media screen and (min-width: 768px) {
  .port__item {
    display: flex;
    flex-wrap: wrap;
    max-width: calc((100% - 60px) / 2);
    width: 100%;
  }
  .port__item:not(:last-child) {
    margin-bottom: 0px;
  }
}
@media screen and (min-width: 1200px) {
  .port__item {
    display: flex;
    flex-wrap: wrap;
    max-width: calc((100% - 90px) / 3);
    width: 100%;
  }
  .port__item:not(:last-child) {
    margin-bottom: 0px;
  }
}

.port__topic {
  position: relative;
  overflow: hidden;
}

.port__image {
  display: block;
  text-align: center;
  max-width: 450px;
  max-height: 294px;
  width: 100%;
}
@media screen and (min-width: 768px) {
  .port__image {
    display: block;
    max-width: 768px;
    width: 100%;
  }
}
@media screen and (min-width: 1200px) {
  .port__image {
    display: block;
    max-width: 1200px;
    width: 100%;
  }
}

.port__movement {
  display: flex;
  position: absolute;
  padding: 63px 24px;
  top: 0;
  left: 0;
  max-width: 450px;
  width: 100%;
  height: 294px;
  align-items: center;
  justify-content: center;
  background: rgba(33, 150, 243, 0.9);
  color: #ffffff;
  font-weight: 400;
  font-size: 18px;
  line-height: 1.55;
  transform: translateY(100%);
  transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.port__border {
  padding-top: 20px;
  padding-left: 24px;
  padding-bottom: 20px;
  border-left: 1px solid #eeeeee;
  border-bottom: 1px solid #eeeeee;
  border-right: 1px solid #eeeeee;
}
@media screen and (min-width: 768px) {
  .port__border {
    display: block;
    max-width: 354px;
    width: 100%;
  }
}

.port__title {
  /* padding-top: 20px; */
  /* padding-left: 24px; */
  margin-bottom: 4px;
  color: var(--title-color);
  font-family: Roboto;
  font-weight: 700;
  font-size: 18px;
  line-height: 2;
  letter-spacing: 0.06em;
  text-transform: none;
}

.port__text {
  /* padding-bottom: 20px;
  padding-left: 24px; */
  font-weight: 400;
  color: var(--text-color);
  font-size: 16px;
  line-height: 1.88;
}

.line-border {
  border-bottom: 1px solid #493535;
  margin: 0 auto;
  width: 100%;
}

.header {
  position: relative;
  display: flex;
  margin: 0 auto;
  align-items: center;
  justify-content: center;
  width: 100%;
  background-color: #fff;
  max-width: 480px;
  min-width: 480px;
}
@media screen and (min-width: 768px) {
  .header {
    max-width: 768px;
  }
}
@media screen and (min-width: 1200px) {
  .header {
    max-width: 1200px;
  }
}

.nav {
  display: flex;
  align-items: center;
  justify-content: center;
  z-index: 1;
}

.header .nav {
  display: flex;
  align-items: center;
  justify-content: left;
  width: 100%;
}
@media screen and (max-width: 767px) {
  .header .nav {
    max-width: 480px;
  }
}
@media screen and (min-width: 768px) {
  .header .nav {
    max-width: 768px;
    z-index: 0;
  }
}
@media screen and (min-width: 1200px) {
  .header .nav {
    max-width: 1200px;
    z-index: 0;
  }
}

.header__logo {
  display: block;
  padding-top: 16px;
  padding-left: 15px;
  padding-bottom: 16px;
  color: #000000;
  font-family: Raleway;
  font-weight: 700;
  font-size: 26px;
  line-height: 1.17;
  letter-spacing: 0.03em;
}
@media screen and (min-width: 768px) {
  .header__logo {
    margin-right: 88px;
  }
}
@media screen and (min-width: 1200px) {
  .header__logo {
    max-width: 1200px;
    margin-right: 92px;
    z-index: 0;
  }
}

.header__web {
  color: #2196f3;
  font-family: Raleway;
  font-weight: 700;
  font-size: 26px;
  line-height: 1.17;
  letter-spacing: 0.03em;
}

.menu-button {
  display: inline-block;
  position: absolute;
  right: 15px;
  top: 10px;
  margin: 0;
  padding: 0;
  justify-content: space-between;
  background-color: transparent;
  border: none;
  z-index: 1;
}
.menu-button .icon-cross {
  display: none;
}
.menu-button.is-open .icon-cross {
  display: block;
  border: none;
}
@media screen and (min-width: 768px) {
  .menu-button {
    display: none;
  }
}
.menu-button.is-open .icon-menu {
  display: none;
}

.icon-cross {
  display: block;
  width: 19px;
  height: 19px;
  fill: #212121;
  background-color: transparent;
  border: none;
  background-size: contain;
}

.icon-menu {
  display: block;
  width: 24px;
  height: 16px;
  fill: #212121;
  background-color: transparent;
  border-color: transparent;
  border: none;
  background-size: contain;
}

.menu-container {
  background-color: #ffffff;
}
@media screen and (max-width: 767px) {
  .menu-container {
    display: none;
    flex-direction: column;
    align-items: flex-start;
    position: absolute;
    padding-bottom: 64px;
    padding-left: 40px;
    top: 0;
    left: 0;
    right: 0;
    width: 100%;
  }
  .menu-container.is-open {
    display: flex;
  }
}
@media screen and (min-width: 768px) {
  .menu-container {
    display: flex;
  }
}

.header__list {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}
@media screen and (min-width: 768px) {
  .header__list {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    padding-top: 0;
    margin-right: 90px;
  }
}
@media screen and (min-width: 1200px) {
  .header__list {
    margin-right: 315px;
  }
}

.header__item {
  display: flex;
  flex-direction: column;
  align-items: center;
}
@media screen and (max-width: 767px) {
  .header__item:not(:last-child) {
    margin-bottom: 32px;
  }
}
@media screen and (min-width: 768px) {
  .header__item {
    flex-direction: row;
    align-items: center;
  }
}
@media screen and (min-width: 768px) {
  .header__item:not(:last-child) {
    margin-right: 50px;
  }
}

.header__list-menu {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}
@media screen and (max-width: 767px) {
  .header__list-menu {
    padding-top: 302px;
  }
}
@media screen and (min-width: 768px) {
  .header__list-menu {
    padding-top: 21px;
    padding-bottom: 21px;
    justify-content: left;
  }
}
@media screen and (min-width: 1200px) {
  .header__list-menu {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    padding-top: 25px;
  }
}

.header__link {
  display: block;
  text-align: left;
  padding-top: 48px;
  color: #2196f3;
  font-family: Roboto;
  font-weight: 500;
  font-size: 40px;
  line-height: 1.175;
  letter-spacing: 0.02em;
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.header__link:hover, .header__link:focus {
  color: #2196f3;
}
.header__link:active {
  color: #2196f3;
}
@media screen and (min-width: 768px) {
  .header__link {
    position: relative;
    padding: 25px 0;
    font-size: 14px;
    line-height: 1.1429;
  }
}

@media screen and (min-width: 768px) {
  .header--current::after {
    position: absolute;
    left: 0;
    display: block;
    content: "";
    height: 4px;
    width: 100%;
    bottom: -8px;
    background-color: #2196f3;
    border-radius: 2px;
  }
}
@media screen and (min-width: 1200px) {
  .header--current::after {
    position: absolute;
    left: 0;
    display: block;
    content: "";
    height: 4px;
    width: 100%;
    bottom: 0px;
    background-color: #2196f3;
    border-radius: 2px;
  }
}

.header__link-port {
  display: block;
  text-align: left;
  color: #2196f3;
  font-family: Roboto;
  font-weight: 500;
  font-size: 40px;
  line-height: 1.175;
  letter-spacing: 0.02em;
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.header__link-port:hover, .header__link-port:focus {
  color: #2196f3;
}
.header__link-port:active {
  color: #2196f3;
}
@media screen and (min-width: 768px) {
  .header__link-port {
    position: relative;
    padding: 25px 0;
    font-family: Roboto;
    font-weight: 500;
    font-size: 14px;
    line-height: 1.1429;
  }
}

.header__site {
  display: block;
  text-align: center;
  color: #212121;
  font-family: Roboto;
  font-weight: 500;
  font-size: 40px;
  line-height: 1.175;
  letter-spacing: 0.02em;
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.header__site:hover, .header__site:focus {
  color: #2196f3;
}
@media screen and (min-width: 768px) {
  .header__site {
    padding: 25px 0;
    font-size: 14px;
    line-height: 1.1429;
  }
}
.header__site:active {
  color: #2196f3;
}

.header__site-port {
  display: block;
  text-align: center;
  padding-top: 48px;
  color: #212121;
  font-family: Roboto;
  font-weight: 500;
  font-size: 40px;
  line-height: 1.175;
  letter-spacing: 0.02em;
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.header__site-port:hover, .header__site-port:focus {
  color: #2196f3;
}
@media screen and (min-width: 768px) {
  .header__site-port {
    padding: 25px 0;
    font-size: 14px;
    line-height: 1.1429;
  }
}

.container.header {
  display: flex;
  padding: 0;
}

.header-container-port {
  display: flex;
  margin-bottom: 50px;
  align-items: center;
  justify-content: center;
  gap: 8px;
}

.header__data {
  display: flex;
  flex-direction: column;
  align-items: center;
}
@media screen and (max-width: 767px) {
  .header__data:not(:last-child) {
    margin-bottom: 32px;
  }
}
@media screen and (min-width: 768px) {
  .header__data:not(:last-child) {
    margin-bottom: 10px;
  }
}
@media screen and (min-width: 1200px) {
  .header__data {
    margin-right: 32px;
  }
}
@media screen and (min-width: 1200px) {
  .header__data:not(:last-child) {
    margin-bottom: 0px;
  }
}

.header__contact {
  display: flex;
  align-items: center;
  font-family: "Roboto";
  font-weight: 500;
  color: #757575;
  font-size: 24px;
  line-height: 1.1667;
  letter-spacing: 0.02em;
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.header__contact:hover, .header__contact:focus {
  color: #2196f3;
}
.header__contact:hover .header__email, .header__contact:focus .header__email {
  fill: #2196f3;
}
@media screen and (min-width: 768px) {
  .header__contact {
    font-family: "Roboto";
    font-weight: 500;
    color: #757575;
    font-size: 12px;
    line-height: 1.167;
  }
}
@media screen and (min-width: 1200px) {
  .header__contact {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
  }
}

.header__contact-tel {
  display: flex;
  align-items: left;
  font-family: "Roboto";
  font-weight: 500;
  color: #2196f3;
  font-size: 34px;
  line-height: 1.1764;
  letter-spacing: 0.02em;
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.header__contact-tel:hover, .header__contact-tel:focus {
  color: #2196f3;
}
@media screen and (min-width: 768px) {
  .header__contact-tel {
    font-family: "Roboto";
    font-weight: 500;
    color: #757575;
    font-size: 12px;
    line-height: 1.167;
  }
}
.header__contact-tel:hover .header__tel, .header__contact-tel:focus .header__tel {
  fill: #2196f3;
}

.header__email {
  fill: #757575;
  transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
@media screen and (max-width: 767px) {
  .header__email {
    display: none;
  }
}
@media screen and (min-width: 768px) {
  .header__email {
    margin-right: 8px;
  }
}
@media screen and (min-width: 1200px) {
  .header__email {
    margin-right: 10px;
  }
}

.header__tel {
  fill: #757575;
  transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
@media screen and (max-width: 767px) {
  .header__tel {
    display: none;
  }
}
@media screen and (min-width: 768px) {
  .header__tel {
    margin-right: 8px;
  }
}
@media screen and (min-width: 1200px) {
  .header__tel {
    margin-right: 10px;
  }
}

.header__menu-social-list {
  display: flex;
  padding-top: 64px;
  max-width: 357px;
  width: 100%;
}
@media screen and (min-width: 768px) {
  .header__menu-social-list {
    display: none;
  }
}

.header__menu-item {
  display: block;
  max-width: 357px;
  width: 100%;
  font-family: "Roboto";
  font-weight: 500;
  font-size: 18px;
  line-height: 1.22;
  /* identical to box height, or 122% */
  letter-spacing: 0.02em;
}
.header__menu-item:not(:last-child) {
  border-right: 1px solid rgba(33, 33, 33, 0.2);
}

.header__menu-instagramm {
  padding-right: 10px;
  color: #2196f3;
  width: 100%;
}

.header__menu-twitter {
  padding-left: 10px;
  padding-right: 10px;
  color: #2196f3;
  width: 100%;
}

.header__menu-facebook {
  padding-left: 10px;
  padding-right: 10px;
  color: #2196f3;
  width: 100%;
}

.header__menu-linkedin {
  padding-left: 10px;
  color: #2196f3;
  width: 100%;
}

footer {
  max-width: 480px;
  min-width: 480px;
  text-align: center;
  background-color: #2f303a;
}
@media screen and (max-width: 767px) {
  footer {
    max-width: 480px;
    margin: 0 auto;
  }
}
@media screen and (min-width: 768px) {
  footer {
    display: flex;
    flex-wrap: wrap;
    max-width: 1190px;
    margin: 0 auto;
    width: 100%;
  }
}

.studio {
  padding-top: 60px;
  padding-bottom: 60px;
}

.footer {
  display: block;
  text-align: center;
  max-width: 480px;
  min-width: 480px;
}
@media screen and (min-width: 768px) {
  .footer {
    display: flex;
    flex-wrap: wrap;
    max-width: 768px;
    width: 100%;
  }
}

.footer__text {
  display: block;
  text-align: left;
  /* padding-top: 60px; */
  margin-bottom: 20px;
  color: #ffffff;
  font-family: Raleway;
  font-weight: 700;
  font-size: 26px;
  line-height: 1.11;
  font-style: normal;
}

.footer__logo {
  color: #2196f3;
  font-family: Raleway;
  font-weight: 700;
  font-size: 26px;
  line-height: 1.17;
  letter-spacing: 0.03em;
}
@media screen and (min-width: 768px) {
  .footer__logo {
    padding-left: 39px;
    max-width: 1190px;
    width: 100%;
  }
}

.footer__container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  max-width: 480px;
  width: 100%;
}
@media screen and (min-width: 768px) {
  .footer__container {
    align-items: flex-start;
    justify-content: flex-start;
    margin-right: 165px;
    padding-left: 61px;
    max-width: 272px;
    width: 100%;
  }
}

.footer__address {
  display: block;
  max-width: 480px;
  width: 100%;
  text-align: left;
}
@media screen and (min-width: 768px) {
  .footer__address {
    display: flex;
    flex-direction: column;
    max-width: 550px;
    width: 100%;
    justify-content: start;
    align-items: center;
  }
}

.footer__item {
  display: block;
  width: 100%;
  max-width: 480px;
  text-align: center;
}
.footer__item:not(:last-child) {
  margin-bottom: 9px;
}
@media screen and (min-width: 768px) {
  .footer__item {
    max-width: 450px;
    width: 100%;
    text-align: left;
  }
}

.footer__map {
  display: block;
  text-align: center;
  color: #ffffff;
  font-weight: 400;
  font-size: 14px;
  line-height: 1.71;
  font-style: normal;
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.footer__map:hover, .footer__map:focus {
  color: #2196f3;
}
@media screen and (min-width: 768px) {
  .footer__map {
    max-width: 232px;
    width: 100%;
    text-align: left;
  }
}

.footer__connect {
  display: flex;
  flex-direction: column;
  width: 100%;
  max-width: 480px;
  padding-top: 60px;
  /* padding-bottom: 100px; */
}
@media screen and (min-width: 768px) {
  .footer__connect {
    padding-top: 5px;
    max-width: 206px;
    width: 100%;
    justify-content: start;
    align-items: center;
  }
}

.footer__link {
  display: block;
  text-align: center;
  color: rgba(255, 255, 255, 0.6);
  font-weight: 400;
  font-size: 14px;
  line-height: 1.71;
  text-decoration-line: none;
  font-style: normal;
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.footer__link:hover, .footer__link:focus {
  color: #2196f3;
}
@media screen and (min-width: 768px) {
  .footer__link {
    max-width: 232px;
    width: 100%;
  }
}

.footer__title {
  text-align: center;
  margin-bottom: 20px;
  color: #ffffff;
  font-weight: 700;
  font-size: 14px;
  line-height: 1.17;
  text-transform: uppercase;
}

.footer__list {
  display: flex;
  justify-content: center;
  gap: 10px;
}

.footer__soc {
  fill: #ffffff;
}

.footer__social {
  display: flex;
  width: 44px;
  height: 44px;
  align-items: center;
  justify-content: center;
  background-color: rgba(255, 255, 255, 0.1);
  border-radius: 50%;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.footer__social:hover, .footer__social:focus {
  background-color: #2196f3;
}
.footer__social:hover .footer__soc, .footer__socialk:focus .footer__soc {
  fill: #ffffff;
}

.footer__field {
  display: block;
  justify-content: flex-start;
  width: 100%;
  max-width: 480px;
}
@media screen and (min-width: 768px) {
  .footer__field {
    max-width: 768px;
    width: 100%;
    justify-content: flex-start;
  }
}

.footer__label {
  padding-left: 12px 42px;
  height: 40px;
  border: 1px solid rgba(33, 33, 33, 0.2);
  border-radius: 4px;
  font-family: Roboto;
  font-style: normal;
  font-weight: 400;
  font-size: 12px;
  line-height: 14px;
  letter-spacing: 0.01em;
  cursor: pointer;
}

.footer__mail {
  position: relative;
  margin-bottom: 20px;
  padding-top: 60px;
  text-align: center;
  color: #ffffff;
  font-weight: 700;
  font-size: 14px;
  line-height: 1.17;
  text-transform: uppercase;
}
@media screen and (min-width: 768px) {
  .footer__mail {
    margin-bottom: 0;
    margin-left: 288px;
    text-align: left;
  }
}

.footer__buttons {
  display: block;
  text-align: center;
  max-width: 480px;
  width: 100%;
}
@media screen and (min-width: 768px) {
  .footer__buttons {
    max-width: 768px;
    width: 100%;
    padding-top: 0;
  }
}

.footer__input {
  max-width: 450px;
  width: 100%;
  height: 50px;
  margin-bottom: 20px;
  padding-left: 16px;
  font-family: "Roboto";
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 1.25;
  color: rgba(255, 255, 255, 0.6);
  border: 1px solid rgba(255, 255, 255, 0.3);
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  border-radius: 4px;
  background-color: #2f303a;
  cursor: pointer;
}
.footer__input:focus {
  color: rgba(255, 255, 255, 0.6);
  outline-style: none;
}
@media screen and (min-width: 768px) {
  .footer__input {
    display: block;
    text-align: left;
    margin-left: 151px;
    max-width: 450px;
    width: 100%;
  }
}

.footer__btn {
  display: inline-flex;
  justify-content: center;
  align-items: center;
  width: 200px;
  padding-right: 215px;
  height: 50px;
  margin-left: 12px;
  padding: 10px 28px;
  border-radius: 4px;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  background-color: #2196f3;
  color: #ffffff;
  font-family: Roboto;
  font-weight: 700;
  font-size: 16px;
  line-height: 1.88;
  letter-spacing: 0.06em;
  cursor: pointer;
  border: none;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.footer__btn:hover {
  background-color: #188ce8;
}
.footer__btn:focus {
  background-color: #188ce8;
  outline-style: none;
}
@media screen and (min-width: 768px) {
  .footer__btn {
    margin-left: 50px;
    text-align: left;
  }
}

.footer__plane {
  margin-left: 10px;
}

.backdrop {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  overflow-y: scroll;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.2);
  opacity: 1;
  transition: opacity 250ms cubic-bezier(0.4, 0, 0.2, 1), visibility 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.backdrop__modal {
  position: absolute;
  top: 50%;
  left: 50%;
  max-width: 450px;
  width: 100%;
  max-height: 609px;
  height: 100%;
  background-color: #fff;
  border-radius: 10px;
  transform: translate(-50%, -50%) scale(1);
  transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: translateY -50%, -50%;
}

.backdrop.is-hidden .backdrop__modal {
  transform: translate(-50%, -50%) scale(0);
}

.is-hidden {
  opacity: 0;
  visibility: hidden;
  pointer-events: none;
}

.backdrop__xcon {
  display: flex;
  position: relative;
}

.backdrop__window {
  display: block;
  text-align: center;
  width: 100%;
  max-width: 450px;
}

.backdrop__title {
  display: block;
  padding-top: 40px;
  width: 370px;
  width: 100%;
  text-align: center;
  /* padding-left: 40px; */
  margin-bottom: 15px;
  text-align: center;
  font-family: Roboto;
  font-weight: 700;
  font-size: 20px;
  line-height: 1.5;
  letter-spacing: 0.03em;
  text-transform: none;
}

.backdrop__close {
  display: flex;
  justify-content: center;
  align-items: center;
  position: absolute;
  right: 8px;
  top: 7px;
  width: 30px;
  height: 30px;
  border-radius: 50%;
  border: 1px solid rgba(0, 0, 0, 0.1);
  background-color: transparent;
  cursor: pointer;
}

.backdrop__modular {
  position: absolute;
  display: flex;
  fill: #000000;
  top: 50%;
  transform: translateY(-50%);
  cursor: pointer;
  transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.backdrop__modular:hover, .backdrop__modular:focus {
  fill: #2196f3;
}
.backdrop__modular:hover:hover, .backdrop__modular:hover:focus .backdrop__close, .backdrop__modular:focus:hover, .backdrop__modular:focus:focus .backdrop__close {
  fill: #2196f3;
}

.backdrop__form {
  display: flex;
  flex-direction: column;
  min-width: 100%;
  width: 450px;
  /* margin-bottom: 72px; */
  /* width: 448px; */
  /* margin-left: auto;
  margin-right: auto; */
  padding-left: 40px;
  padding-right: 40px;
}

.backdrop__field {
  position: relative;
  display: flex;
  flex-direction: column;
  max-width: 370px;
  width: 100%;
}
.backdrop__field:not(:last-child) {
  margin-bottom: 10px;
}

.backdrop__label {
  display: flex;
  margin-bottom: 4px;
  left: 20px;
  font-family: Roboto;
  font-style: normal;
  font-weight: 400;
  font-size: 12px;
  line-height: 14px;
  color: #757575;
  letter-spacing: 0.01em;
  outline-style: none;
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.backdrop__input {
  padding-left: 40px;
  position: relative;
  max-width: 370px;
  width: 100%;
  height: 40px;
  border: 1px solid rgba(33, 33, 33, 0.2);
  border-radius: 4px;
  font-family: Roboto;
  font-style: normal;
  font-weight: 400;
  font-size: 12px;
  line-height: 14px;
  letter-spacing: 0.01em;
  cursor: pointer;
  transition: border 250ms cubic-bezier(0.4, 0, 0.2, 1);
  /* border-color: rgba(117, 117, 117, 0.5);; */
}
.backdrop__input:hover {
  border-color: #2196f3;
}
.backdrop__input:focus {
  border-color: #2196f3;
  outline-style: none;
}
.backdrop__input:hover + .backdrop__icon, .backdrop__input:focus + .backdrop__icon {
  fill: #2196f3;
}

.backdrop__comment {
  position: relative;
  padding: 12px 16px;
  /* margin-bottom: 18px; */
  width: 100%;
  height: 120px;
  border: 1px solid rgba(33, 33, 33, 0.2);
  border-radius: 4px;
  font-family: "Roboto";
  font-style: normal;
  font-weight: 400;
  font-size: 12px;
  line-height: 14px;
  letter-spacing: 0.01em;
  color: rgba(117, 117, 117, 0.5);
  cursor: pointer;
}
.backdrop__comment:hover {
  border-color: #2196f3;
}
.backdrop__comment:focus {
  border-color: #2196f3;
  outline-style: none;
}

.backdrop__icon {
  position: absolute;
  fill: #000000;
  left: 12px;
  top: 30px;
  transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.backdrop__icon:hover, .backdrop__icon:focus {
  fill: #2196f3;
}

.online-comment::placeholder {
  font-family: "Roboto";
  font-style: normal;
  font-weight: 400;
  font-size: 12px;
  line-height: 14px;
  letter-spacing: 0.01em;
  color: rgba(117, 117, 117, 0.5);
}

.backdrop__post {
  width: 200px;
  height: 50px;
  margin-bottom: 40px;
  border-radius: 4px;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  background-color: #2196f3;
  color: #ffffff;
  font-family: Roboto;
  font-weight: 700;
  font-size: 16px;
  line-height: 1.875;
  cursor: pointer;
  border: none;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.backdrop__post:hover, .backdrop__post:focus {
  background-color: #188ce8;
}

.backdrop__flit {
  display: flex;
  justify-content: center;
  align-items: center;
  max-width: 450px;
  width: 100%;
}

.checkbox {
  display: flex;
  flex-wrap: nowrap;
  width: 100%;
  padding-left: 40px;
  position: relative;
  padding-top: 18px;
  margin-bottom: 30px;
  text-align: center;
  align-items: center;
  justify-content: center;
}
.checkbox a {
  color: #2196f3;
}

.checkbox__text {
  display: block;
  text-align: left;
  width: 100%;
}

.checkbox .checkbox__text {
  display: inline-flex;
  width: 100%;
  font-family: "Roboto";
  font-style: normal;
  font-weight: 400;
  font-size: 12px;
  line-height: 1.167;
  letter-spacing: 0.03em;
}

.checkbox__input {
  padding-bottom: 0px;
  appearance: none;
  position: absolute;
  background-color: #ffffff;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.checkbox__input:checked + .checkbox__text .checkbox__icon {
  border: none;
  background-color: #2196f3;
  background-image: url("../images/icon-check-3.svg");
  background-size: contain;
  background-origin: border-box;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.checkbox__icon {
  position: relative;
  display: inline-block;
  width: 16px;
  height: 15px;
  margin-right: 8px;
  border: 2px solid #212121;
  border-radius: 2px;
  bottom: 1px;
  background-repeat: no-repeat;
  background-position: center;
  cursor: pointer;
}

.checkbox__link {
  font-family: "Roboto";
  font-style: normal;
  font-weight: 400;
  font-size: 12px;
  line-height: 1.167;
  letter-spacing: 0.03em;
  color: #2196f3;
  text-decoration: underline;
}/*# sourceMappingURL=main.css.map */