// @mixin mobile {
//   @media screen and (min-width: 480px) {
//     @content;
//   }
// }

// @mixin tablet {
//   @media screen and (min-width: 768px) {
//     @content;
//   }
// }
// @mixin desktop {
//   @media screen and (min-width: 1200px) {
//     @content;
//   }
// }

@mixin font($fs: 18px, $fw: 500, $lh: 24px, $ls: 0.03em) {
  font-size: $fs;
  font-weight: $fw;
  line-height: $lh / $fs;
  letter-spacing: $ls;
}

//   @media screen and (min-width: 480px) {
//     @content;
//   }
// }
