.clients-line {
  padding-top: 60px;
  padding-bottom: 60px;
}
.clients {
  display: block;
  max-width: 480px;
  width: 100%;
}
.clients__title {
  text-align: center;
  margin-bottom: 30px;
  color: $title-color;
  font-weight: 700;
  font-size: 28px;
  line-height: 1.1786;
}

.clients__logo {
  display: flex;
  padding: 16px 16px;
  background-position: center;
  background-size: contain;
  fill: #afb1b8;
  transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
  &:hover,
  &:focus {
    fill: $color-blue;
  }
}

.clients__link {
  display: flex;
  max-width: 210px;
  max-height: 92px;
  border: 1px solid #afb1b8;
  border-radius: 4px;
  transition: border 250ms cubic-bezier(0.4, 0, 0.2, 1);
  &:hover,
  &:focus {
    border: 1px solid $color-blue;
  }
}

.clients__list {
  // display: flex;
  display: flex;
  flex-wrap: wrap;
  // max-width: 480px;
  width: 100%;
  justify-content: center;
  gap: 30px;
  margin: 0;
}

.clients__item {
  display: flex;
  // padding-left: 15px;
  // padding-right: 15px;
  width: 100%;
  min-width: 210px;
  max-width: 210px;
}
