.rules {
  display: block;
  text-align: center;
  padding-bottom: 60px;
  padding-top: 60px;
  margin: 0 auto;
  @media screen and (max-width: 767px) {
    min-width: 450px;
    max-width: 450px;
  }
  @media screen and (min-width: 768px) {
    min-width: 768px;
  }
  @media screen and (min-width: 1200px) {
    // display: flex;
    // flex-direction: row;
    // align-items: center;
    // justify-content: center;
    min-width: 1200px;
    max-width: 1600px;
    width: 100%;
    margin: 0 auto;
  }

  // text-align: center;
  /* width: 1600px; */
}

.rules__list {
  display: block;
  gap: 30px;
  max-width: 450px;
  width: 100%;
  text-align: center;
  padding-top: 0;
  padding-left: 15px;
  // display: flex;
  // padding-top: 60px;

  @media screen and (max-width: 767px) {
    max-width: 480px;
  }
  @media screen and (min-width: 768px) {
    display: flex;
    flex-wrap: wrap;
    max-width: 768px;
    padding-left: 0;
    margin: 0 auto;
    gap: 0;

    // column-gap: 30px;
    // margin: -15px;
  }

  @media screen and (min-width: 1200px) {
    display: flex;
    flex-direction: row;
    max-width: 1200px;
    margin: 0 auto;
  }
}
//   //   align-items: center;
//   //   justify-content: center;
//   //   padding-left: 0;
//   //   padding-top: 0;
//   //   gap: 0;

//   //   // column-gap: 30px;
//   //   // margin: -15px;
//   // }
// }

.rules__item {
  display: block;
  text-align: center;
  padding-bottom: 0;
  // max-width: 450px;
  width: 100%;

  &:not(:last-child) {
    @media screen and (max-width: 767px) {
      max-width: 450px;
    }
    margin-bottom: 30px;
  }

  @media screen and (min-width: 768px) {
    width: calc((100% - 4 * 15px) / 2);
    margin: 15px;
  }

  @media screen and (min-width: 1200px) {
    width: calc((100% - 8 * 15px) / 4);
    margin: 15px;
  }
}

.rules__equipment {
  max-height: 120px;
  background-position: center;
  background-color: $color-button-grey;
  background-size: contain;
  margin-bottom: 30px;

  &:not(:last-child) {
    @media screen and (max-width: 767px) {
      display: block;
      padding: 25px 190px 25px;
      max-width: 450px;
      width: 100%;
    }
    margin-bottom: 30px;
  }

  @media screen and (min-width: 768px) {
    display: block;
    padding: 25px 142px 25px;
    max-width: 354x;
    width: 100%;
  }
  margin-bottom: 30px;

  @media screen and (min-width: 1200px) {
    display: block;
    padding: 25px 100px 25px;
    max-width: 270px;
    width: 100%;
  }
}

// .rules__item {
//   display: block;
//   padding-bottom: 0;
//   gap: 30px;
//   max-width: 450px;
//   width: 100%;
// }

// .social-list-container {
//   display: flex;
//   justify-content: center;
// }

.rules__title {
  text-align: center;
  margin-bottom: 10px;
  color: $title-color;
  font-weight: 700;
  font-size: 14px;
  line-height: 1.17;
  text-transform: uppercase;

  @media screen and (min-width: 768px) {
    text-align: left;

    // max-width: calc((100% - 2 * 30px) / 2);
    // margin: 30px;
  }
}

.rules__text {
  text-align: left;
  color: $text-color;
  font-weight: 400;
  font-size: 14px;
  line-height: 1.71;
}
