// .rules {
//   padding-top: 0;
//   margin: 0 auto;
//   text-align: center;
/* width: 1600px; */
// }
.rules {
  display: block;
  text-align: center;
  padding-bottom: 60px;
  padding-top: 60px;
  margin: 0 auto;
  @media screen and (max-width: 767px) {
    min-width: 450px;
    max-width: 450px;

    width: 100%;
  }

  @media screen and (min-width: 768px) {
    min-width: 768px;
    max-width: 768px;
    width: 100%;
    padding-bottom: 0px;
    padding-top: 0px;
  }
  @media screen and (min-width: 1200px) {
    // min-width: 450px;
    max-width: 1200px;
    width: 100%;
    padding-top: 0;
    margin-bottom: 94px;
  }
  // @media screen and (min-width: 768px) {
  //   min-width: 768px;
  // }
  // @media screen and (min-width: 1200px) {
  //   // display: flex;
  //   // flex-direction: row;
  //   // align-items: center;
  //   // justify-content: center;
  //   min-width: 1200px;
  //   max-width: 1600px;
  //   width: 100%;
  //   margin: 0 auto;
  // }

  // text-align: center;
  /* width: 1600px; */
}

// .rules__list {
//   padding-top: 0;
//   justify-content: center;
//   display: flex;
//   padding-top: 94px;
//   gap: 30px;
// }
.rules__list {
  display: block;
  gap: 30px;
  min-width: 450px;
  max-width: 450px;
  width: 100%;
  text-align: center;
  padding-top: 0;
  // margin-left: 15px;
  // padding-left: 15px;
  margin: 0 auto;
  // display: flex;
  // padding-top: 60px;

  @media screen and (min-width: 480px) {
    margin: 0;
  }
  @media screen and (min-width: 768px) {
    display: flex;
    flex-wrap: wrap;
    max-width: 768px;
    padding-left: 0;
    margin: 0 auto;
    gap: 0;

    // column-gap: 30px;
    // margin: -15px;
  }

  @media screen and (min-width: 1200px) {
    display: flex;
    // flex-direction: row;
    // padding-top: 94px;
    padding-top: 0;
    max-width: 1200px;
    margin: 0 auto;
  }
}
//   //   align-items: center;
//   //   justify-content: center;
//   //   padding-left: 0;
//   //   padding-top: 0;
//   //   gap: 0;

//   //   // column-gap: 30px;
//   //   // margin: -15px;
//   // }
// }

.rules__item {
  display: block;
  text-align: center;
  padding-bottom: 0;
  // max-width: 450px;
  width: 100%;

  @media screen and (max-width: 479px) {
    margin: 0 15px;
  }
  @media screen and (min-width: 480px) {
    margin: 0 auto;
  }

  &:not(:last-child) {
    @media screen and (max-width: 767px) {
      max-width: 450px;
    }
    margin-bottom: 30px;
  }

  @media screen and (min-width: 768px) {
    width: calc((100% - 4 * 15px) / 2);
    margin: 15px;
  }

  @media screen and (min-width: 1200px) {
    width: calc((100% - 8 * 15px) / 4);
    margin: 15px;
  }
}

.rules__equipment {
  max-height: 120px;
  background-position: center;
  background-color: $color-button-grey;
  background-size: contain;
  margin-bottom: 30px;

  &:not(:last-child) {
    @media screen and (max-width: 767px) {
      display: block;
      padding: 25px 190px 25px;
      max-width: 450px;
      width: 100%;
    }
    margin-bottom: 30px;
  }

  @media screen and (min-width: 768px) {
    display: block;
    padding: 25px 142px 25px;
    max-width: 354x;
    width: 100%;
  }
  margin-bottom: 30px;

  @media screen and (min-width: 1200px) {
    display: block;
    padding: 25px 100px 25px;
    max-width: 270px;
    width: 100%;
  }
}

// .rules__item {
//   display: block;
//   padding-bottom: 0;
//   gap: 30px;
//   max-width: 450px;
//   width: 100%;
// }

// .social-list-container {
//   display: flex;
//   justify-content: center;
// }

.rules__title {
  text-align: center;
  margin-bottom: 10px;
  color: $title-color;
  font-weight: 700;
  font-size: 14px;
  line-height: 1.17;
  text-transform: uppercase;

  @media screen and (min-width: 768px) {
    text-align: left;

    // max-width: calc((100% - 2 * 30px) / 2);
    // margin: 30px;
  }
}

.rules__text {
  text-align: left;
  color: $text-color;
  font-weight: 400;
  font-size: 14px;
  line-height: 1.71;
}

// .rules {
//   padding-top: 0;
//   margin: 0 auto 0;
//   text-align: center;
//   /* width: 1600px; */
// }

// .rules__list {
//   padding-top: 0;
//   justify-content: center;
//   display: flex;
//   padding-top: 94px;
//   gap: 30px;
// }

// .rules__item {
//   display: block;
//   padding-bottom: 0;
//   gap: 30px;
//   width: 270px;
// }

// .rules__equipment {
//   display: block;
//   padding: 25px 100px 25px;
//   width: 270px;
//   height: 120px;
//   background-position: center;
//   background-color: $color-button-grey;
//   background-size: contain;
//   margin-bottom: 30px;
// }

// .rules__item {
//   display: block;
//   padding-bottom: 0;
//   gap: 30px;
//   width: 270px;
// }

// // .social-list-container {
// //   display: flex;
// //   justify-content: center;
// // }

// .rules__title {
//   text-align: left;
//   margin-bottom: 10px;
//   color: $title-color;
//   font-weight: 700;
//   font-size: 14px;
//   line-height: 1.17;
//   text-transform: uppercase;
// }

// .rules__text {
//   text-align: left;
//   color: $text-color;
//   font-weight: 400;
//   font-size: 14px;
//   line-height: 1.71;
// }
